@model Laptop

<div class=" col-lg-4" id="product">
    <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" />
    <p class="heading">@Model.Name</p>
    <p class="description">@Model.ShortDesc</p>
    <p>Price: @Model.Price.ToString("C")</p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id ="@Model.Id ">Add to Cart</a></p>
</div>
